  <nav class="flex-col items-center justify-between flex-wrap bg-teal-500 p-3 shadow-md" >
      <div class="flex justify-end text-white mr-6 ">
          <div class="text-gray-600 mr-4">
            <form class="form-inline my-2 my-lg-0" id="searchbar">
              <input #search type="search"  class="bg-transparent h-10 pr-3  rounded-full text-m text-white"
              [placeholder]="filled?'Search':''" [ngClass]="{'filled':filled}" [(ngModel)]="parameter"
                 (click)="filled=!filled" (blur)="parameter=''" (keyup)="onKey($event)" list="osman" autocomplete="off" name="searchbar" >
              <datalist id="osman">
              <option *ngFor="let topic of topicList" [value]="topic">
              </datalist>
            </form>
          </div>
            <a  class="inline-block text-sm px-4 py-2 mr-4 leading-none border rounded text-white
             border-white hover:border-transparent hover:text-teal-500
             hover:bg-white  lg:mt-0">Sign In</a>
            <a  (click)="navigateToSignUp()" class="inline-block text-sm px-4 py-2 mr-4 leading-none border rounded
             text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white  lg:mt-0">Sign Up</a>
      </div>
      <div class="flex items-center justify-center text-white ">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-4xl tracking-tight" (click)="navigateToHome()">tribün hikayeleri</span>
      </div>
        <div class="flex items-center justify-center text-white mt-2">
          <a class="block lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" (click)="navigateToStoryCreator()">
            Hikayeler
          </a>
          <a class="block lg:inline-block lg:mt-0 text-teal-200 hover:text-white" (click)="navigateToStoryCreator()">Hikayeni Paylaş
          </a>
        </div>
    </nav>
