<div class="flex flex-col mt-12 items-center">
  <div class="flex mt-4 mb-4">
    <h2 class="align-center text-4xl text-wrap text-center">anılarını paylaşmak için ilk yapman gereken bir hesap yaratmak</h2>
  </div>
  <div class="flex flex-col mt-4 mb-4 justify-center w-2/3">

      <div class="md:flex flex-col md:items-center mb-6 mx-8 ">
        <div class="mb-2">
          <label class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0   pr-8" for="inline-full-name" >
            mail adresin
          </label>
        </div>
        <div class="md:w-2/3">
          <input name="email" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="deneme@gmail.com" [(ngModel)]="email">
        </div>
      </div>
      <div class="md:flex flex-col md:items-center mb-6 mx-8 justify-center">
        <div class="mb-2">
          <label class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0   pr-8" for="inline-full-name" >
            isim
          </label>
        </div>
        <div class="md:w-2/3">
          <input  name="username" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="deneme1907"  [(ngModel)]="username">
        </div>
      </div>
      <div class="md:flex  flex-col md:items-center mb-6 mx-8 justify-center">
        <div class="mb-2">
          <label class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0   pr-8" for="inline-username">
            şifre
          </label>
        </div>
        <div class="md:w-2/3">
          <input name="password" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" type="password" placeholder="******************"  [(ngModel)]="password">
        </div>
      </div>
      <div class="md:flex flex-col md:items-center mb-6 mx-8 justify-center">
        <div class="mb-2">
          <label class="block text-gray-700 font-bold md:text-right mb-1 md:mb-0   pr-8" for="inline-username">
            şifreni onayla
          </label>
        </div>
        <div class="md:w-2/3">
          <input  name="passwordConfirm" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-username" type="password" placeholder="******************" [(ngModel)]="passwordConfirm">
        </div>
      </div>
      <div class="md:flex text-center md:items-center mb-6 mt-8">

        <label class="md:w-full   block text-gray-500 font-bold">
          <input name="checked" id="useragreementbox" class="mr-2 leading-tight" type="checkbox" [(ngModel)]="checked">
          <span class="text-m text-gray-700">
            sözleşmeyi okudum ve onaylıyorum.
          </span>
        </label>
      </div>

  </div>
  <div class="flex w-2/3">
    <button (click)="createUser()"
    class="shadow bg-teal-500  w-full  hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-3 px-4 rounded text-xl" type="button">
      kaydol
    </button>
  </div>
  </div>
