
<div class="flex flex-col mt-2 pb-8">


  <div class="flex m-0 mt-4">
    <h2>{{this.story.name}}</h2>
  </div>

  <div class="flex m-0">
    <i class="material-icons">account_circle</i>
    <h5 class="createdBy"><a href="#">{{story.createdBy}}</a></h5>
    <i class="material-icons">calendar_today</i>
    <h5 class="createdOn">{{story.createdOn}}</h5>
  </div>

  <div class="flex mt-12 ">
      <p >{{story.content.substr(0,this.communicator.count(story.content,'.')/2+1)}}<br>
      <img class="rounded float-left" id="paragraph-image" src="assets/fan2.JPG" alt="" ><br>
      {{story.content.substr(this.communicator.count(story.content,'.')/2+1,story.content.length)}} </p>
  </div>

  <div class="flex justify-start">
    <button class="mr-2" (click)="likeStory()"><i class="far fa-thumbs-up fa-2x">{{story.likeCount}}</i></button>

    <div class="icon-bar">
      <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
      <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
      <a href="#" class="google"><i class="fab fa-google"></i></a>
      <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
      <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
    </div>
  </div>

  <div class="flex border-t-2 mt-10 pt-8">
    <h4>Yorumlar</h4>
  </div>

  <div  class="comment" *ngFor="let comment of comments;let i=index">

    <div class="row" id="row-custom">
      <div class="col-auto mr-auto" id="authorCommentText">
        <h5><a href="#" style="color:black">{{comment.createdBy}}</a></h5>
      </div>
        <div class="col-auto">
          <p>{{comment.createdOn}}</p>
        </div>
    </div>

      <div class="row" id="row-custom">
          <p >{{comment.content}}</p>
      </div>
      <div class="row" id="row-custom">
        <button mat-button (click)="likeComment()">Beğen!</button>
      </div>

  </div>


  <div class="flex pt-12">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="yorum yap" class="commenttext" [(ngModel)]="commentText"></textarea>
          </mat-form-field>
  </div>
  <div class="flex justify-end" >
      <button mat-button (click)="submitComment(story.topic,commentText)">Yorumla!</button>
  </div>



</div>
