mat-form-field{

  width:100%;
}
#comment-creator{
  width:70%;
}
#authorText{
  padding-left:1px;
}
#authorText{
  padding-left:1px;
}
.story{
  margin-bottom:50px;
  border-bottom: 1px solid grey;
  padding-bottom:50px;
}
#row-custom{
  margin:0 0 0 0 ;
}
#pp-div{
  margin-right: 10px;
}
#socialDiv{
  margin:0 0 0 0 ;
  border: 1px solid #dee2e6;
  padding: .25rem;
  border-radius: .25rem;
}
#socialDiv * {
  margin-right: 20px;
}
.likeButton{
  background-color:#563D7C;
  color:#ffffff;
  font-size: 13px;
  font-weight: 500;
  height: 28px;
  display: inline-flex;
  align-items: center;
}
