<div class="container">


  <div class="row" id="row-custom" style="margin-bottom:20px;">
    <h2>{{storyTopic}}</h2>
  </div>

  <div class="row justify-content-start" id="row-custom">
    <div class="col-xs-1" id="pp-div">

      <img src="assets/profilepictures/{{this.story.createdBy}}.jpg" alt="..." class="img-thumbnail" width="80" height="80" id="pp-image">
    </div>
    <div class="col-xs-1" style="margin-left:10px;">
      <div class="row">

        <h5><a href="#">{{storyAuthor}}</a></h5>
      </div>
      <div class="row">
        <p>{{publishDate}}</p>
      </div>
    </div>
  </div>

  <div class="row" id="row-custom" style="margin-top:50px;">
      <p >{{storyContent}}</p>
  </div>


  <div class="row align-items-center" id="socialDiv">
    <i class="far fa-thumbs-up fa-2x">{{likeCount}}</i>
    <button mat-button (click)="likeStory()" class="likeButton">Beğen!</button>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-show-count="false">Tweet</a>
  </div>

  <div class="row" style="border-top:1px solid black;margin-top:50px;padding-top:50px;">
    <h4>Yorumlar</h4>
  </div>


  <div  class="comment" *ngFor="let comment of comments;let i=index">

    <div class="row" id="row-custom">
      <div class="col-auto mr-auto" id="authorCommentText">
        <h5><a href="#" style="color:black">{{comment.createdBy}}</a></h5>
      </div>
      <div class="col-auto">
        <p>{{comment.createdOn}}</p>
      </div>
      </div>
      <div class="row" id="row-custom">
          <p >{{comment.content}}</p>
      </div>
      <div class="row" id="row-custom">
        <button mat-button (click)="likeComment()">Beğen!</button>
      </div>

  </div>







  <div class="row" id="comment-creator" style="padding-top:20px;">
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="yorum yap" class="commenttext" [(ngModel)]="commentText"></textarea>
          </mat-form-field>
  </div>
  <div class="row justify-content-end" id="comment-creator">
      <button mat-button (click)="submitComment(storyTopic,commentText,isAnonym)">Yorumla!</button>
  </div>



</div>
