<div class="container">
  <div  class="story" *ngFor="let story of stories;let i=index">
    <div class="row" id="row-custom">
      <h2><a [routerLink]="story.name" style="color:black">{{story.name}}</a></h2>
    </div>
    <div class="row" id="row-custom">
      <div class="col-auto mr-auto" id="authorText">
        <h5><a href="#" style="color:black">{{story.createdBy}}</a></h5>
      </div>
      <div class="col-auto">
        <p>{{story.createdOn}}</p>
      </div>
      </div>
      <div class="row" id="row-custom">
          <p >{{story.content}} <a *ngIf="story.content.length>50" [routerLink]="story.name">Devamını Oku</a></p>
      </div>
      <div class="row" id="row-custom">
        <button mat-button (click)="likeStory()">Beğen!</button>
        <button mat-button (click)="likeStory()">Paylaş!</button>
      </div>

  </div>
</div>
