#authorText{
  padding-left:1px;
}
.story{
  margin-bottom:50px;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding-bottom:50px;
}
#row-custom{
  margin:0 0 0 0 ;
}
.createdBy{
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(241, 140, 142);
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 21.6px;
  margin-bottom: 6px ;
  text-align: left;
  text-transform: uppercase;
  visibility: visible;

}
.createdOn{
  color: rgb(241, 140, 142);
  padding-left:5px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 21.6px;
  margin-bottom: 5px;
  text-align: left;
  text-transform: uppercase;
  visibility: visible;
}
.story_content{
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
#story_title{
  margin-bottom: 24px ;
}
