<div class="container">
  <div  class="story" *ngFor="let story of stories;let i=index">
    <div class="row">
      <div class="col">
        <img src="assets/fan2.JPG" alt="" width="640" height="460">
      </div>
      <div class="col">
        <div class="row" id="row-custom">
          <i class="material-icons">account_circle</i>
          <h5 class="createdBy"><a href="#">{{story.createdBy}}</a></h5>
          <i class="material-icons">calendar_today</i>
          <h5 class="createdOn">{{story.createdOn}}</h5>
        </div>
        <div class="row" id="row-custom">
          <h2 id="story_title"><a [routerLink]="story.name" >{{story.name}}</a></h2>
        </div>
        <div class="row" id="row-custom">
          <p class="story_content">{{story.content}} <a *ngIf="story.content.length>50" [routerLink]="story.name">Devamını Oku</a></p>
        </div>
      </div>
    </div>


</div>
