/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@tailwind base;

@tailwind components;

@tailwind utilities;
html, body { height: 100%;font-family:"Work Sans", Arial, sans-serif }
body { margin: 0; background-color: #ffffff}
h1,h2,h3,h4,h5,h6{
  color:#212529 ;
}
h2{
  font-size: 2.5rem;
}
p{
  font-size: 21px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  color:inherit;
}
#pp-div{
  margin-right: 10px;
}
#pp-image{
  padding:3px;
  border:1px solid rgba(0,0,0,.15);
}
.createdon{
  font-size: 17px;
}

#socialDiv{
  margin:0 0 0 0 ;
  border: 0px solid #dee2e6;
  padding: 1rem;
  border-radius: .25rem;
}
#socialDiv i{

}
.likeButton{
  margin-right:20px !important;
  margin-left: 20px !important;
  background-color:#563D7C;
  color:#ffffff;
  vertical-align: middle;
  font-weight: 400;
  line-height: 0px !important;
  height: 28px;
  display: inline-flex;
  align-items: center;
}
.createdBy{
  padding-left: 5px;
  padding-right: 5px;
  color: rgb(241, 140, 142);
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 21.6px;
  margin-bottom: 6px ;
  text-align: left;
  text-transform: uppercase;
  visibility: visible;

}
.createdOn{
  color: rgb(241, 140, 142);
  padding-left:10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 21.6px;
  margin-bottom: 5px;
  text-align: left;
  text-transform: uppercase;
  visibility: visible;
}
.story_content{
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
#story_title{
  margin-bottom: 24px ;
}
