/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { height: 100%; }
body { margin: 0; background-color: #ffffff}
h1,h2,h3,h4,h5,h6{
  color:#212529 ;
}
h2{
  font-size: 2.5rem;
}
p{
  font-size: 21px;
  font-weight: 400;
}
a{
  text-decoration: none;
  color:inherit;
}
a:hover{
  color:inherit;
}
